div	{
	width: 16em;
	height: 16em;		
	border: 0.1px solid darkgray;
	float: left;
	font-family: sans-serif;
	font-size: 0.6em;
	text-align: center;
}

.markiert {
	background-color: lightblue !important;
}

#tooltip {
	display: none;
	position: absolute;
	width: 12em;
	background-color: AliceBlue;
	font-family: sans-serif;
	font-size: 1em;
	line-height: 1.6em;
	padding: 0.5em;
	border: 1px solid darkgray;
	z-index: 100;
}